

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1264px; height: 920px; margin-top: 5px;
        }
        .silex-id-1661369369306-3 {top: 185px; left: 63px; height: 612px; width: 708px;
        }
        .silex-id-1659407519951-0 {top: 244px; left: 292px; height: 20px; width: 283px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407756128-1 {top: 333px; left: 324px; height: 20px; width: 305px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407915612-4 {top: 424px; left: 763px; height: 20px; width: 277px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659408080492-6 {top: 516px; left: 416px; height: 20px; width: 311px; border-width: 2px; font-style: italic; border-style: solid; border-color: rgb(18, 239, 155);
        }
        .silex-id-1659473186436-0 {top: 193px; left: 694px; height: 50px; width: 50px;
        }
        .silex-id-1659473204472-1 {top: 282px; left: 727px; height: 50px; width: 50px;
        }
        .silex-id-1659473216648-2 {top: 373px; left: 1165px; height: 50px; width: 50px;
        }
        .silex-id-1659473236658-3 {top: 464px; left: 818px; height: 50px; width: 50px;
        }
        .silex-id-1661369532001-7 {top: 605px; left: 529px; height: 20px; width: 336px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661369584581-8 {top: 697px; left: 528px; height: 20px; width: 374px; border-width: 2px; border-color: rgb(18, 239, 155); font-style: italic; border-style: solid;
        }
        .silex-id-1661369614302-9 {top: 789px; left: 433px; height: 20px; width: 315px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661369696370-11 {top: 645px; left: 932px; height: 50px; width: 50px;
        }
        .silex-id-1661369715417-12 {top: 735px; left: 837px; height: 50px; width: 50px;
        }
        .silex-id-1659388570066-6 {top: 833px; left: 1179px; height: 64px; width: 64px;
        }
        .silex-id-1661369665066-10 {top: 555px; left: 931px; height: 50px; width: 50px;
        }
        .silex-id-1659388439834-2 {top: 198px; left: 292px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 288px; left: 326px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388468261-4 {top: 379px; left: 764px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388506052-5 {top: 471px; left: 417px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369462062-4 {top: 560px; left: 529px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369488934-5 {top: 651px; left: 530px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369506785-6 {top: 741px; left: 435px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
        .silex-id-1659388468261-4 > input {
        }
        .silex-id-1659388506052-5 > input {
        }
        .silex-id-1661369462062-4 > input {
        }
        .silex-id-1661369488934-5 > input {
        }
        .silex-id-1661369506785-6 > input {
        }
    