

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1659539918742-1 {top: 184px; left: -32px; height: 380px; width: 580px;
        }
        .silex-id-1660092526407-0 {top: 248px; left: 505px; height: 40px; width: 550px;
        }
        .silex-id-1660092536452-1 {top: 325px; left: 373px; height: 40px; width: 550px;
        }
        .silex-id-1660092569386-2 {top: 402px; left: 385px; height: 40px; width: 550px;
        }
        .silex-id-1660092592647-3 {top: 479px; left: 384px; height: 40px; width: 550px;
        }
    