

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388439834-2 {top: 248px; left: 598px; height: 40px; width: 400px;
        }
        .silex-id-1659388468261-4 {top: 402px; left: 468px; height: 40px; width: 400px;
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388506052-5 {top: 479px; left: 467px; height: 40px; width: 400px;
        }
        .silex-id-1659388450439-3 {top: 325px; left: 458px; height: 40px; width: 400px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .silex-id-1659473186436-0 {top: 240px; left: 1000px; height: 50px; width: 50px;
        }
        .silex-id-1659473204472-1 {top: 319px; left: 859px; height: 50px; width: 50px;
        }
        .silex-id-1659473216648-2 {top: 396px; left: 869px; height: 50px; width: 50px;
        }
        .silex-id-1659473236658-3 {top: 473px; left: 870px; height: 50px; width: 50px;
        }
        .silex-id-1659539918742-1 {top: 184px; left: 55px; height: 380px; width: 580px;
        }
        .background-initial {background-color: rgb(245, 245, 245); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1659407519951-0 {top: 296px; left: 570px; height: 20px; width: 490px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407756128-1 {top: 371px; left: 451px; height: 20px; width: 533px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407915612-4 {top: 448px; left: 456px; height: 21px; width: 294px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659408080492-6 {top: 526px; left: 454px; height: 19px; width: 323px; border-color: rgb(18, 255, 59); border-width: 2px; font-style: italic; border-style: solid;
        }
    