

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661369129191-2 {top: 199px; left: 138px; height: 340px; width: 340px;
        }
        .silex-id-1659473186436-0 {top: 253px; left: 104px; height: 50px; width: 50px;
        }
        .silex-id-1659407519951-0 {top: 308px; left: 159px; height: 20px; width: 69px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1663203139721-4 {top: 355px; left: 406px; height: 27px; width: 399px; font-size: 22px;
        }
        .silex-id-1659473204472-1 {top: 344px; left: 105px; height: 50px; width: 50px;
        }
        .silex-id-1659473216648-2 {top: 435px; left: 164px; height: 50px; width: 50px;
        }
        .silex-id-1663203252404-5 {top: 445px; left: 495px; height: 29px; width: 337px; font-size: 22px;
        }
        .silex-id-1663203095141-3 {top: 265px; left: 354px; height: 29px; width: 371px; font-size: 22px;
        }
        .silex-id-1659388450439-3 {top: 349px; left: 168px; height: 40px; width: 192px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 > input {
        }
        .silex-id-1659388439834-2 {top: 259px; left: 168px; height: 40px; width: 143px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388468261-4 {top: 440px; left: 226px; height: 40px; width: 220px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388468261-4 > input {
        }
        .silex-id-1659407756128-1 {top: 398px; left: 159px; height: 20px; width: 87px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407915612-4 {top: 488px; left: 217px; height: 21px; width: 91px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
    