

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1264px; height: 920px; margin-top: 5px;
        }
        .silex-id-1659388570066-6 {top: 833px; left: 1179px; height: 64px; width: 64px;
        }
        .silex-id-1661369369306-3 {top: 189px; left: 97px; height: 612px; width: 708px;
        }
        .silex-id-1659407519951-0 {top: 252px; left: 120px; height: 20px; width: 79px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407756128-1 {top: 342px; left: 120px; height: 20px; width: 101px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407915612-4 {top: 432px; left: 120px; height: 20px; width: 365px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659408080492-6 {top: 522px; left: 120px; height: 20px; width: 144px; border-width: 2px; font-style: italic; border-style: solid; border-color: rgb(18, 239, 155);
        }
        .silex-id-1659473186436-0 {top: 198px; left: 67px; height: 50px; width: 50px;
        }
        .silex-id-1659473204472-1 {top: 289px; left: 68px; height: 50px; width: 50px;
        }
        .silex-id-1659473216648-2 {top: 380px; left: 67px; height: 50px; width: 50px;
        }
        .silex-id-1659473236658-3 {top: 470px; left: 68px; height: 50px; width: 50px;
        }
        .silex-id-1661369532001-7 {top: 613px; left: 180px; height: 20px; width: 168px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661369584581-8 {top: 703px; left: 178px; height: 20px; width: 184px; border-width: 2px; border-color: rgb(18, 239, 155); font-style: italic; border-style: solid;
        }
        .silex-id-1661369614302-9 {top: 793px; left: 120px; height: 20px; width: 134px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661369665066-10 {top: 559px; left: 126px; height: 50px; width: 50px;
        }
        .silex-id-1661369696370-11 {top: 650px; left: 127px; height: 50px; width: 50px;
        }
        .silex-id-1661369715417-12 {top: 739px; left: 68px; height: 50px; width: 50px;
        }
        .silex-id-1663203435223-7 {top: 210px; left: 347px; height: 29px; width: 392px; font-size: 22px;
        }
        .silex-id-1663203448239-8 {top: 298px; left: 385px; height: 31px; width: 419px; font-size: 22px;
        }
        .silex-id-1663203461080-9 {top: 388px; left: 823px; height: 30px; width: 382px; font-size: 22px;
        }
        .silex-id-1663203473882-10 {top: 480px; left: 474px; height: 29px; width: 429px; font-size: 22px;
        }
        .silex-id-1663203489255-11 {top: 571px; left: 590px; height: 29px; width: 460px; font-size: 22px;
        }
        .silex-id-1663203505646-12 {top: 662px; left: 593px; height: 27px; width: 515px; font-size: 22px;
        }
        .silex-id-1663203522606-13 {top: 751px; left: 491px; height: 28px; width: 435px; font-size: 22px;
        }
        .silex-id-1659388439834-2 {top: 204px; left: 128px; height: 40px; width: 168px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 294px; left: 128px; height: 40px; width: 204px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388468261-4 {top: 384px; left: 128px; height: 40px; width: 643px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388506052-5 {top: 474px; left: 127px; height: 40px; width: 295px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369462062-4 {top: 565px; left: 187px; height: 40px; width: 348px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369488934-5 {top: 655px; left: 188px; height: 40px; width: 347px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369506785-6 {top: 745px; left: 128px; height: 40px; width: 314px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
        .silex-id-1659388468261-4 > input {
        }
        .silex-id-1659388506052-5 > input {
        }
        .silex-id-1661369462062-4 > input {
        }
        .silex-id-1661369488934-5 > input {
        }
        .silex-id-1661369506785-6 > input {
        }
    