

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291436753-2 {top: 233px; left: 58px; height: 255px; width: 397px;
        }
        .silex-id-1659407519951-0 {top: 342px; left: 102px; height: 19px; width: 96px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407756128-1 {top: 432px; left: 102px; height: 20px; width: 145px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473186436-0 {top: 287px; left: 49px; height: 50px; width: 50px;
        }
        .silex-id-1659473204472-1 {top: 377px; left: 50px; height: 50px; width: 50px;
        }
        .silex-id-1663204131293-2 {top: 298px; left: 378px; height: 28px; width: 390px; font-size: 22px;
        }
        .silex-id-1663204148762-3 {top: 389px; left: 455px; height: 29px; width: 588px; font-size: 22px;
        }
        .silex-id-1659388439834-2 {top: 293px; left: 110px; height: 40px; width: 212px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 383px; left: 110px; height: 40px; width: 284px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
    