

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291133941-1 {top: 218px; left: 121px; height: 255px; width: 397px;
        }
        .silex-id-1659407519951-0 {top: 322px; left: 146px; height: 20px; width: 88px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473186436-0 {top: 269px; left: 93px; height: 50px; width: 50px;
        }
        .silex-id-1663204008890-0 {top: 280px; left: 412px; height: 28px; width: 398px; font-size: 22px;
        }
        .silex-id-1659473204472-1 {top: 360px; left: 94px; height: 50px; width: 50px;
        }
        .silex-id-1659407756128-1 {top: 413px; left: 146px; height: 20px; width: 159px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1663204059677-1 {top: 370px; left: 542px; height: 28px; width: 341px; font-size: 22px;
        }
        .silex-id-1659388439834-2 {top: 274px; left: 154px; height: 40px; width: 208px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 365px; left: 155px; height: 40px; width: 337px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
    