

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1661370144076-13 {top: 184px; left: 72px; height: 793px; width: 397px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 1090px; margin-top: 5px;
        }
        .silex-id-1659388570066-6 {top: 993px; left: 976px; height: 64px; width: 64px;
        }
        .silex-id-1659473186436-0 {top: 192px; left: 49px; height: 50px; width: 50px;
        }
        .silex-id-1659407519951-0 {top: 248px; left: 104px; height: 20px; width: 54px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473204472-1 {top: 285px; left: 49px; height: 50px; width: 50px;
        }
        .silex-id-1659407756128-1 {top: 338px; left: 101px; height: 20px; width: 63px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473216648-2 {top: 374px; left: 49px; height: 50px; width: 50px;
        }
        .silex-id-1659407915612-4 {top: 428px; left: 100px; height: 20px; width: 81px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473236658-3 {top: 464px; left: 107px; height: 50px; width: 50px;
        }
        .silex-id-1659408080492-6 {top: 518px; left: 160px; height: 20px; width: 70px; border-width: 2px; font-style: italic; border-style: solid; border-color: rgb(18, 239, 155);
        }
        .silex-id-1661369665066-10 {top: 555px; left: 170px; height: 50px; width: 50px;
        }
        .silex-id-1661369532001-7 {top: 608px; left: 222px; height: 20px; width: 46px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661369696370-11 {top: 645px; left: 108px; height: 49px; width: 49px;
        }
        .silex-id-1661369584581-8 {top: 699px; left: 159px; height: 20px; width: 87px; border-width: 2px; border-color: rgb(18, 239, 155); font-style: italic; border-style: solid;
        }
        .silex-id-1661369715417-12 {top: 736px; left: 107px; height: 50px; width: 50px;
        }
        .silex-id-1662585691678-6 {top: 748px; left: 458px; height: 28px; width: 423px; font-size: 22px;
        }
        .silex-id-1661369614302-9 {top: 789px; left: 158px; height: 20px; width: 105px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661370400170-18 {top: 822px; left: 106px; height: 49px; width: 50px;
        }
        .silex-id-1661370428640-19 {top: 906px; left: 50px; height: 50px; width: 50px;
        }
        .silex-id-1662585755089-7 {top: 834px; left: 455px; height: 27px; width: 431px; font-size: 22px;
        }
        .silex-id-1661370335868-16 {top: 875px; left: 158px; height: 20px; width: 96px; border-width: 2px; border-style: solid; border-color: rgb(18, 239, 155); font-style: italic;
        }
        .silex-id-1662585794284-8 {top: 918px; left: 499px; height: 28px; width: 535px; font-size: 22px;
        }
        .silex-id-1661370371537-17 {top: 961px; left: 100px; height: 20px; width: 150px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1662585638955-5 {top: 655px; left: 436px; height: 30px; width: 288px; font-size: 22px;
        }
        .silex-id-1662585588610-4 {top: 568px; left: 410px; height: 28px; width: 445px; font-size: 22px;
        }
        .silex-id-1662585529558-3 {top: 476px; left: 409px; height: 29px; width: 435px; font-size: 22px;
        }
        .silex-id-1662585468026-2 {top: 385px; left: 348px; height: 31px; width: 380px; font-size: 22px;
        }
        .silex-id-1662585422619-1 {top: 295px; left: 303px; height: 30px; width: 364px; font-size: 22px;
        }
        .silex-id-1662585369467-0 {top: 204px; left: 294px; height: 30px; width: 352px; font-size: 22px;
        }
        .silex-id-1659388439834-2 {top: 200px; left: 109px; height: 40px; width: 144px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 289px; left: 108px; height: 40px; width: 154px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388468261-4 {top: 379px; left: 109px; height: 40px; width: 196px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388506052-5 {top: 470px; left: 168px; height: 40px; width: 196px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369462062-4 {top: 560px; left: 230px; height: 40px; width: 133px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369488934-5 {top: 651px; left: 169px; height: 39px; width: 218px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369506785-6 {top: 741px; left: 167px; height: 40px; width: 241px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661370293828-14 {top: 827px; left: 166px; height: 40px; width: 242px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661370315473-15 {top: 912px; left: 108px; height: 40px; width: 350px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
        .silex-id-1659388468261-4 > input {
        }
        .silex-id-1659388506052-5 > input {
        }
        .silex-id-1661369462062-4 > input {
        }
        .silex-id-1661369488934-5 > input {
        }
        .silex-id-1661369506785-6 > input {
        }
        .silex-id-1661370293828-14 > input {
        }
        .silex-id-1661370315473-15 > input {
        }
    