

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661368401079-1 {top: 247px; left: 54px; height: 199px; width: 510px;
        }
        .silex-id-1659407519951-0 {top: 361px; left: 567px; height: 20px; width: 251px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473186436-0 {top: 312px; left: 968px; height: 50px; width: 50px;
        }
        .silex-id-1659388439834-2 {top: 318px; left: 567px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
    