

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291436753-2 {top: 234px; left: 117px; height: 255px; width: 397px;
        }
        .silex-id-1659473186436-0 {top: 289px; left: 811px; height: 50px; width: 50px;
        }
        .silex-id-1659407519951-0 {top: 339px; left: 409px; height: 20px; width: 283px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659473204472-1 {top: 379px; left: 881px; height: 50px; width: 50px;
        }
        .silex-id-1659407756128-1 {top: 432px; left: 479px; height: 20px; width: 428px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659388439834-2 {top: 294px; left: 409px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 385px; left: 480px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
    