

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1658889880995-2 {top: 80px; left: 60px; height: 1.4em; width: 100px;
        }
        .silex-id-1658889883415-3 {top: 120px; left: 60px; height: 1.4em; width: 100px;
        }
        .silex-id-1658889885074-4 {top: 160px; left: 60px; height: 1.4em; width: 100px;
        }
        .silex-id-1658889754756-0 {top: 80px; left: 240px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1658889872534-1 {top: 360px; left: 200px; height: 140px; width: 306px;
        }
    