

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1661370144076-13 {top: 184px; left: 72px; height: 793px; width: 397px;
        }
        .silex-id-1659407915612-4 {top: 424px; left: 331px; height: 20px; width: 277px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1661369532001-7 {top: 605px; left: 391px; height: 20px; width: 324px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1661370371537-17 {top: 960px; left: 481px; height: 20px; width: 393px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1659473186436-0 {top: 195px; left: 684px; height: 50px; width: 50px;
        }
        .silex-id-1659473204472-1 {top: 284px; left: 694px; height: 50px; width: 50px;
        }
        .silex-id-1659473216648-2 {top: 374px; left: 734px; height: 50px; width: 50px;
        }
        .silex-id-1659473236658-3 {top: 466px; left: 794px; height: 50px; width: 50px;
        }
        .silex-id-1661369665066-10 {top: 556px; left: 796px; height: 50px; width: 50px;
        }
        .silex-id-1661369715417-12 {top: 734px; left: 839px; height: 50px; width: 50px;
        }
        .silex-id-1661370428640-19 {top: 908px; left: 884px; height: 50px; width: 50px;
        }
        .silex-id-1661370400170-18 {top: 822px; left: 839px; height: 50px; width: 50px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 1090px; margin-top: 5px;
        }
        .silex-id-1659388570066-6 {top: 993px; left: 976px; height: 64px; width: 64px;
        }
        .silex-id-1661369696370-11 {top: 647px; left: 818px; height: 49px; width: 49px;
        }
        .silex-id-1661369584581-8 {top: 695px; left: 416px; height: 20px; width: 208px; border-width: 2px; border-color: rgb(18, 239, 155); font-style: italic; border-style: solid;
        }
        .silex-id-1661370335868-16 {top: 872px; left: 437px; height: 20px; width: 317px; border-width: 2px; border-style: solid; border-color: rgb(18, 239, 155); font-style: italic;
        }
        .silex-id-1659407756128-1 {top: 334px; left: 291px; height: 20px; width: 267px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659407519951-0 {top: 245px; left: 281px; height: 20px; width: 257px; border-radius: 2px; border-color: rgb(18, 239, 155); border-width: 2px; font-style: italic; border-style: solid;
        }
        .silex-id-1659408080492-6 {top: 516px; left: 391px; height: 20px; width: 311px; border-width: 2px; font-style: italic; border-style: solid; border-color: rgb(18, 239, 155);
        }
        .silex-id-1661369614302-9 {top: 788px; left: 435px; height: 20px; width: 311px; border-width: 2px; border-color: rgb(18, 239, 155); border-style: solid; font-style: italic;
        }
        .silex-id-1659388439834-2 {top: 200px; left: 280px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388450439-3 {top: 289px; left: 287px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388468261-4 {top: 379px; left: 332px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388506052-5 {top: 469px; left: 392px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369462062-4 {top: 560px; left: 391px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369488934-5 {top: 651px; left: 413px; height: 39px; width: 399px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661369506785-6 {top: 740px; left: 431px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661370293828-14 {top: 827px; left: 429px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1661370315473-15 {top: 913px; left: 481px; height: 40px; width: 400px; background-color: rgb(217, 217, 217);
        }
        .silex-id-1659388439834-2 > input {
        }
        .silex-id-1659388450439-3 > input {
        }
        .silex-id-1659388468261-4 > input {
        }
        .silex-id-1659388506052-5 > input {
        }
        .silex-id-1661369462062-4 > input {
        }
        .silex-id-1661369488934-5 > input {
        }
        .silex-id-1661369506785-6 > input {
        }
        .silex-id-1661370293828-14 > input {
        }
        .silex-id-1661370315473-15 > input {
        }
    