

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291747285-0 {top: 241px; left: 136px; height: 255px; width: 340px;
        }
        .silex-id-1667416556494-0 {top: 294px; left: 386px; height: 40px; width: 400px;
        }
        .silex-id-1667416621058-1 {top: 383px; left: 468px; height: 40px; width: 400px;
        }
    