

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661369129191-2 {top: 199px; left: 138px; height: 340px; width: 340px;
        }
        .silex-id-1667248134416-0 {top: 259px; left: 341px; height: 40px; width: 400px;
        }
        .silex-id-1667248196137-1 {top: 350px; left: 392px; height: 40px; width: 400px;
        }
        .silex-id-1667248213800-2 {top: 440px; left: 478px; height: 40px; width: 400px;
        }
    