

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1264px; height: 920px; margin-top: 5px;
        }
        .silex-id-1661369369306-3 {top: 185px; left: 63px; height: 612px; width: 708px;
        }
        .silex-id-1659388570066-6 {top: 833px; left: 1179px; height: 64px; width: 64px;
        }
        .silex-id-1668289861996-6 {top: 741.5px; left: 434px; height: 40px; width: 400px;
        }
        .silex-id-1668289625013-0 {top: 200px; left: 291px; height: 40px; width: 400px;
        }
        .silex-id-1668289709428-1 {top: 290px; left: 323px; height: 40px; width: 400px;
        }
        .silex-id-1668289748987-2 {top: 381px; left: 763px; height: 40px; width: 400px;
        }
        .silex-id-1668289767167-3 {top: 471px; left: 414px; height: 40px; width: 400px;
        }
        .silex-id-1668289798174-4 {top: 561px; left: 529px; height: 40px; width: 400px;
        }
        .silex-id-1668289841311-5 {top: 651px; left: 527px; height: 40px; width: 400px;
        }
    