

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291133941-1 {top: 218px; left: 121px; height: 255px; width: 397px;
        }
        .silex-id-1672721593105-0 {top: 275px; left: 389px; height: 40px; width: 400px;
        }
        .silex-id-1672721623012-1 {top: 365px; left: 516px; height: 40px; width: 400px;
        }
    