

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1661370144076-13 {top: 184px; left: 72px; height: 793px; width: 397px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 1090px; margin-top: 5px;
        }
        .silex-id-1659388570066-6 {top: 993px; left: 976px; height: 64px; width: 64px;
        }
        .silex-id-1672722396698-4 {top: 289px; left: 287px; height: 40px; width: 400px;
        }
        .silex-id-1672722637608-5 {top: 379px; left: 333px; height: 40px; width: 400px;
        }
        .silex-id-1672722789979-6 {top: 469px; left: 390px; height: 40px; width: 400px;
        }
        .silex-id-1672722303048-3 {top: 199px; left: 275px; height: 40px; width: 400px;
        }
        .silex-id-1672723105522-7 {top: 560px; left: 391px; height: 40px; width: 400px;
        }
        .silex-id-1672723393586-8 {top: 649px; left: 414px; height: 40px; width: 400px;
        }
        .silex-id-1672723554647-9 {top: 741px; left: 433px; height: 40px; width: 400px;
        }
        .silex-id-1672723776966-10 {top: 826px; left: 430px; height: 40px; width: 400px;
        }
        .silex-id-1672723984574-11 {top: 912px; left: 479px; height: 40px; width: 400px;
        }
    