

        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291436753-2 {top: 234px; left: 117px; height: 255px; width: 397px;
        }
        .silex-id-1672724162267-12 {top: 294px; left: 406px; height: 40px; width: 400px;
        }
        .body-initial {background-color: rgb(255, 255, 255); height: 763.281px;
        }
        .silex-id-1672724305398-13 {top: 383px; left: 479px; height: 40px; width: 400px;
        }
    