

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1264px; height: 920px; margin-top: 5px;
        }
        .silex-id-1659388570066-6 {top: 833px; left: 1179px; height: 64px; width: 64px;
        }
        .silex-id-1661369369306-3 {top: 189px; left: 97px; height: 612px; width: 708px;
        }
        .silex-id-1663203435223-7 {top: 210px; left: 347px; height: 29px; width: 392px; font-size: 22px;
        }
        .silex-id-1663203448239-8 {top: 298px; left: 385px; height: 31px; width: 419px; font-size: 22px;
        }
        .silex-id-1663203461080-9 {top: 388px; left: 823px; height: 30px; width: 382px; font-size: 22px;
        }
        .silex-id-1663203473882-10 {top: 480px; left: 474px; height: 29px; width: 429px; font-size: 22px;
        }
        .silex-id-1663203489255-11 {top: 571px; left: 590px; height: 29px; width: 460px; font-size: 22px;
        }
        .silex-id-1663203505646-12 {top: 662px; left: 593px; height: 27px; width: 515px; font-size: 22px;
        }
        .silex-id-1663203522606-13 {top: 751px; left: 491px; height: 28px; width: 435px; font-size: 22px;
        }
        .silex-id-1673057677940-7 {top: 204px; left: 126px; height: 40px; width: 173px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809368596-7 {top: 0px; left: 3px; height: 40px; width: 168px;
        }
        .silex-id-1673057703345-8 {top: 293px; left: 127px; height: 40px; width: 206px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809406646-8 {top: 1px; left: 2px; height: 40px; width: 204px;
        }
        .silex-id-1673057717912-9 {top: 384px; left: 128px; height: 40px; width: 645px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809439832-9 {top: 1px; left: 0px; height: 39px; width: 643px;
        }
        .silex-id-1673057733277-10 {top: 474px; left: 128px; height: 40px; width: 293px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809494826-10 {top: 0px; left: -1px; height: 40px; width: 295px;
        }
        .silex-id-1673057747677-11 {top: 564px; left: 186px; height: 40px; width: 350px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809538933-11 {top: 1px; left: 2px; height: 40px; width: 348px;
        }
        .silex-id-1673057758338-12 {top: 654px; left: 185px; height: 40px; width: 349px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809582779-12 {top: 1px; left: 3px; height: 40px; width: 347px;
        }
        .silex-id-1673057775843-13 {top: 744px; left: 127px; height: 40px; width: 315px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672809616290-13 {top: 1px; left: 1px; height: 40px; width: 314px;
        }
    