

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291747285-0 {top: 241px; left: 136px; height: 255px; width: 340px;
        }
        .silex-id-1663202399150-0 {top: 299px; left: 395px; height: 31px; width: 370px; font-size: 22px;
        }
        .silex-id-1663202446035-1 {top: 389px; left: 466px; height: 29px; width: 544px; font-size: 22px;
        }
        .silex-id-1673057271153-0 {top: 383px; left: 171px; height: 40px; width: 266px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672808262384-1 {top: 1px; left: 0px; height: 40px; width: 262px;
        }
        .silex-id-1673057552665-1 {top: 293px; left: 171px; height: 40px; width: 182px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672808066281-0 {top: 1px; left: 2px; height: 40px; width: 177px;
        }
    