

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1659388419202-1 {top: 57px; left: 58px; height: 100px; width: 960px;
        }
        .silex-id-1659388570066-6 {top: 553px; left: 980px; height: 64px; width: 64px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1080px; height: 650px; margin-top: 5px;
        }
        .silex-id-1661291436753-2 {top: 233px; left: 58px; height: 255px; width: 397px;
        }
        .silex-id-1663204131293-2 {top: 298px; left: 378px; height: 28px; width: 390px; font-size: 22px;
        }
        .silex-id-1663204148762-3 {top: 389px; left: 455px; height: 29px; width: 588px; font-size: 22px;
        }
        .silex-id-1673057948676-26 {top: 292px; left: 109px; height: 40px; width: 213px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672870597919-12 {top: 1px; left: 2px; height: 40px; width: 212px;
        }
        .silex-id-1673057957712-27 {top: 382px; left: 114px; height: 40px; width: 266px; background-color: rgb(218, 252, 255);
        }
        .silex-id-1672870599315-13 {top: 1px; left: -5px; height: 40px; width: 284px;
        }
    